<div class="grupo-scroll">
    <div class="p-fluid grid cadastro-card">
      <div class="col-12">
        <h2>Lista de personagens</h2>
      </div>
      <div class="col-12">
        <p-table [value]="personagens" [tableStyle]="{ 'min-width': '60rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>Descrição</th>
              <th>Avatar</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-turma>
            <tr>
              <td>{{ turma.nome }}</td>
              <td>{{ turma.avatar }}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
  <div class="rodape grid">
    <div class="col-12 p-0">
      <hr />
    </div>
    <div>
      <h4>{{personagens?.length || 0}} personagens encontradas</h4>
    </div>
    <div class="col"></div>
  </div>
  