/* Contêiner principal */
.layout {
  width: 100% !important;
  padding: 2rem;
  display: flex;
  flex-direction: column; 
  padding-left: calc(350px * var(--zoom));
}

.layout-content {
  // height: calc(100vh - 9rem); 
  height: calc(calc(100svh / var(--zoom)) - 150px);
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

