<div class="layout">
  <div class="layout-sidebar">
    <app-sidebar [model]="model"></app-sidebar>
  </div> 
  <div class="layout-content" [ngSwitch]="telaAtiva">
    <div *ngSwitchCase="'PERFIL'">
      <app-tela-perfil-usuario></app-tela-perfil-usuario>
    </div>
    <div *ngSwitchCase="'PERSONAGEM_CADASTRO'">
      <app-tela-cadastro-personagem></app-tela-cadastro-personagem>
    </div>
    <div *ngSwitchCase="'PERSONAGEM_LISTA'">
      <app-tela-lista-personagem></app-tela-lista-personagem>
    </div>
    <div *ngSwitchCase="'PALAVRA_CADASTRO'">
      <app-tela-cadastro-palavra></app-tela-cadastro-palavra>
    </div>
    <div *ngSwitchCase="'PALAVRA_LISTA'">
      <app-tela-lista-palavra></app-tela-lista-palavra>
    </div>
    <div *ngSwitchCase="'SALA_CADASTRO'">
      <app-tela-cadastro-turma></app-tela-cadastro-turma>
    </div>
    <div *ngSwitchCase="'SALA_LISTA'">
      <app-tela-lista-turma></app-tela-lista-turma>
    </div>
    <div *ngSwitchDefault>
      <p>Nenhuma tela encontrada</p>
    </div>
  </div>
</div>
