.content-dialog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.avatar-personagem {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  cursor: pointer;
}

.avatar-personagem:hover {
  scale: 1.1;
}
