<p-toast />

<app-pontuacao
  [jogador]="'João Silva'"
  [acertos]="0"
  [erros]="0"
></app-pontuacao>

<div class="feedback">
  <app-feedback
    [tipo]="feedback"
    (clearFeedback)="clearFeedback()"
    [scale]="0.7"
  ></app-feedback>
</div>

<div class="grid p-fluid pt-5">
  <div *ngIf="!getImage()" class="col-12 spinner">
    <p-progressSpinner ariaLabel="loading" />
  </div>
  <div *ngIf="getImage()" class="col-12 container-image">
    <img  [src]="getImage()" alt="Imagem" class="image" />
    <img  src="assets/moldura.png" class="moldura" />
  </div>
  <div class="col-12" *ngIf="obj?.letras">
    <ul class="list-container">
      <li
        *ngFor="let letra of obj.letras; let i = index"
        class="card-letra card-letra-acertos" 
        pDroppable
        (onDrop)="drop(i)"
      >
        <img
          *ngIf="selectedLetras[i]?.letra"
          [src]="selectedLetras[i]?.path"
          [alt]="letra.letra"
          class="carta-imagem"
        />
        <p *ngIf="!selectedLetras[i]?.letra">{{ "_" }}</p>
      </li>
    </ul>
  </div>
  <div class="col-12"></div>
  <!-- Letras para arrastar -->
   <div class="col"></div>
   <div class="col-10 opcoes-container">
     <ul class="list-container p-0">
       <li
       *ngFor="let letra of letras"
       class="card-letra"
       pDraggable
       (onDragStart)="dragStart(letra)"
       (onDragEnd)="dragEnd()"
       >
       <img [src]="letra.path" [alt]="letra.letra" class="carta-imagem" />
       <!-- {{ letra.letra }} -->
      </li>
    </ul>
  </div>
  <div class="col"></div>
</div>

<div class="botao-novo-jogo" *ngIf="endGame">
  <button
    severity="warning"
    size="large"
    [rounded]="true"
    pButton
    label="Jogar"
    icon="pi pi-replay"
    iconPos="right"
    (click)="geraNovaPalavra()"
  ></button>
</div>
