<div class="grupo-scroll">
  <div class="p-fluid grid cadastro-card">
    <div class="col-12">
      <h2>Lista de turmas</h2>
    </div>
    <div class="col-12">
      <p-table [value]="turmas" [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template pTemplate="header">
          <tr>
            <th>Descrição</th>
            <th>Código</th>
            <th>Palavras</th>
            <th style="width: 40px"></th>
            <th style="width: 40px"></th>
            <th style="width: 40px"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-turma>
          <tr>
            <td>{{ turma.nome }}</td>
            <td>{{ turma.codigo }}</td>
            <td>{{ turma.palavras?.length }}</td>
            <td>
              <p-button
                icon="pi pi-undo"
                [rounded]="true"
                [text]="true"
                [raised]="true"
                severity="help"
                pTooltip="Novo código"
                (onClick)="gerarCodigo(turma)"
              />
            </td>
            <td>
              <p-button
                icon="pi pi-pencil"
                [rounded]="true"
                [text]="true"
                [raised]="true"
                severity="help"
                pTooltip="Editar"
                (onClick)="editar(turma)"
              />
            </td>
            <td>
              <p-button
                icon="pi pi-trash"
                [rounded]="true"
                [text]="true"
                [raised]="true"
                severity="danger"
                pTooltip="Excluir"
                (onClick)="excluir(turma)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<div class="rodape grid">
  <div class="col-12 p-0">
    <hr />
  </div>
  <div>
    <h4>{{ turmas?.length || 0 }} registros encontrados</h4>
  </div>
  <div class="col"></div>
</div>
