<div class="grupo-scroll">
  <div class="p-fluid grid">
    <div class="col-12">
      <h2>Nova sala</h2>
    </div>
    <div class="col-4">
      <label for="nome">Nome</label>
      <input
        class="mt-2"
        id="nome"
        type="text"
        pInputText
        [(ngModel)]="turma.nome"
      />
    </div>
    <div class="col-6">
      <label for="codigo">Código</label>
      <input
        class="mt-2"
        id="codigo"
        type="text"
        pInputText
        [(ngModel)]="turma.codigo"
      />
    </div>
    <div class="grid col-12">
      <div class="col-12 pb-0">
        <h4 class="mb-2" for="busca">Buscar palavra</h4>
      </div>
      <div class="col-4">
        <p-autoComplete
          [(ngModel)]="palavra"
          [suggestions]="suggestions"
          (completeMethod)="search($event)"
          [dropdown]="true"
          [placeholder]="'Digite para pesquisar...'"
          field="descricao"
          emptyMessage="Nenhuma palavra encontrada"
        >
        </p-autoComplete>
      </div>
      <div class="col-fixed">
        <p-button
          label="Adicionar"
          icon="pi pi-plus"
          iconPos="right"
          (onClick)="adicionarPalavra()"
        ></p-button>
      </div>
    </div>

    <div class="col-12">
      <p-table
        [value]="palavrasTurma"
        [tableStyle]="{ 'min-width': '60rem' }"
        [scrollable]="true"
        [scrollHeight]="'400px'"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>Palavra</th>
            <th>Imagem</th>
            <th style="width: 50px"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-palavra>
          <tr>
            <td>{{ palavra.descricao }}</td>
            <td>
              <img
                [src]="palavra.imagem"
                [alt]="palavra.descricao"
                class="imagem-lista"
              />
            </td>
            <td pTooltip="Remover">
              <p-button
                icon="pi pi-times"
                [rounded]="true"
                [text]="true"
                [raised]="true"
                severity="danger"
                (onClick)="removerPalavra(palavra)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
<div class="rodape grid">
  <div class="col-12 p-0">
    <hr />
  </div>
  <div class="col"></div>
  <div class="col-fixed">
    <p-button
      label="Cadastrar"
      icon="pi pi-check"
      iconPos="right"
      (onClick)="save()"
    ></p-button>
  </div>
</div>
