.app-header {
    background-image: linear-gradient(to right, var(--bluegray-300), var(--bluegray-800));
    color: white;
    max-height: 70px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu-container {
    margin-left: auto; /* Alinha a div com o p-menu e p-button à direita */
    display: flex;
    align-items: center;
    gap: 8px; /* Ajuste o valor do gap conforme necessário */
}
