<header class="app-header">
  <div class="header-content">
    <a href="">
      <img
        src="https://www.gov.br/mdh/pt-br/ondh/centrais-de-conteudo/imagens/libras.png"
        alt="Logo do Jogo Libras"
        width="80px"
      />
    </a>
    <a href="" style="text-decoration: none; color: inherit">
      <h1 class="site-name">Jogo Libras</h1>
    </a>
    <div class="menu-container grid align-items-center pt-1">
      <div class="col-fixed">
        <input
        id="codigo_sala_header"
        type="text"
        pInputText
        [(ngModel)]="codigo"
        placeholder="Código da turma"
        pTooltip="Digite e pressione Enter"
        tooltipPosition="bottom"
        (keydown.enter)="onEnter()"
      />
      </div>
      <div class="col-fixed">
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <p-button
          pRipple
          label="Área do Professor"
          severity="secondary"
          (onClick)="montaMenu(); menu.toggle($event)"
          icon="pi pi-graduation-cap"
          iconPos="right"
        ></p-button>
      </div>
    </div>
  </div>
</header>
