.app-header {
  background: linear-gradient(90deg, #87ceeb, #4682b4); 

  color: white;
  max-height: 70px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-container {
  margin-left: auto; 
  display: flex;
  align-items: center;
  gap: 8px; 
}

input#codigo_sala_header {
  background-color: #4755697c; 
  color: #ffffff;
  border: 1px solid #ffffff41; 
  border-radius: 4px;
  font-size: 16px; 
  font-weight: bold;
}

input#codigo_sala_header::placeholder {
  color: #ffffff; 
}
