<header class="app-header">
  <div class="header-content">
    <a href="">
      <img
        src="assets/senai_libras.png"
        alt="Logo do Jogo Libras"
        width="50px"
        style="margin-right: 20px;"
      />
    </a>
    <a href="" class="site-name-wrapper">
      <h2 class="site-name">ALFABETIZA LIBRAS</h2>
      <span class="site-tagline">Jogos Interativos</span>
    </a>
    <div class="menu-container grid align-items-center pt-1">
      <div class="col-fixed">
        <input
        id="codigo_sala_header"
        type="text"
        pInputText
        [(ngModel)]="codigo"
        placeholder="Código da turma"
        pTooltip="Digite e pressione Enter"
        tooltipPosition="bottom"
        (keydown.enter)="onEnter()"
      />
      </div>
      <div class="col-fixed">
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <p-button
          pRipple
          label="Área do Professor"
          severity="secondary"
          (onClick)="montaMenu(); menu.toggle($event)"
          icon="pi pi-graduation-cap"
          iconPos="right"
        ></p-button>
      </div>
    </div>
  </div>
</header>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
