<div class="about-page">
  <section class="about-section card">
    <h2>Sobre o Projeto</h2>
    <p>
      Este projeto foi desenvolvido como parte do Trabalho de Conclusão de Curso
      (TCC) no curso de Análise e Desenvolvimento de Sistemas da UTFPR. A
      aplicação tem como objetivo apoiar a alfabetização bilíngue de crianças
      surdas entre 4 e 5 anos, com foco na Língua Brasileira de Sinais (Libras)
      e no alfabeto manual.
    </p>
  </section>

  <section class="about-section card">
    <h2>Informações do Projeto</h2>
    <ul class="info-list">
      <li>Desenvolvedor: <strong>Luan Filipe Finatto</strong></li>
      <li>
        Orientadora:
        <strong>Profª. Drª. Rúbia Eliza de Oliveira Schultz Ascari </strong>
      </li>
      <li>
        Coorientadoras:
        <strong
          >Profª. Me. Mirelia Flausino Vogel e Profª. Me. Aline
          Brancalione</strong
        >
      </li>
    </ul>
  </section>

  <div class="link-buttons">
    <a href="https://github.com/finattttto/TCC" target="_blank">
      <p-button icon="pi pi-github" [rounded]="true" severity="contrast" />
    </a>
    <a href="https://www.linkedin.com/in/luan-finatto/" target="_blank">
      <p-button icon="pi pi-linkedin" [rounded]="true" severity="contrast" />
    </a>
  </div>

  <p-divider></p-divider>

  <footer class="about-footer">
    <small>© 2025 - Luan Finatto. Todos os direitos reservados.</small>
  </footer>
</div>
